.person
  +span-columns(6, 6)
  margin-bottom: $content-spacing * 2
  position: relative

  > h3
    text-align: center

  > p
    font-size: 1.25em
    text-align: center

  > .person-icon
    margin: 0 auto $content-spacing * 2
    text-align: center
    +image-background("stars.png")
    -webkit-animation: alpha-and-omega 19000s infinite alternate linear
    background-size: 690px 418px

    > img
      max-width: 100%
      color: #FFF

.about-text
  +span-columns(6, 6)
  text-align: center
  font-size: 1.25em
  line-height: 1.4
  color: $text-color-light

+at-breakpoint($break-tablet)
  .person
    +span-columns(6, 12)
    margin-bottom: 0

    > p
      padding: 0 60px

    &.right
      +span-columns(6 omega, 12)
      padding-left: 0

  .about-text
    margin-top: $content-spacing * 2
