@import "../setup/**/*"
@import "index/**/*"

.hero
  text-align: center
  background: #F4F6F8

.hero-wrapper
  padding-top: 200px
  padding-bottom: 80px

.hero-logo
  font-family: $logo-font
  font-size: 72px
  margin-bottom: 60px
  position: relative

  &:after
    display: inline
    margin-left: 4px
    font-size: 100px
    content: "."
    color: #0ac2ff

.hero-nav
  padding-top: 28px
  padding-bottom: 28px
  background: rgba(#F4F6F8, 0.7)
  text-align: right
  position: fixed
  top: 0
  width: 100%
  z-index: 99999

  a
    color: rgba(#333, 0.6)
    text-decoration: none
    margin: 0 14px
    text-transform: uppercase

    &:hover
      color: rgba(#333, 1.0)
      border-bottom: 1px solid $blue-dot

.hero-text
  font-size: 32px
  line-height: 48px
  margin-bottom: 100px

.projects
  text-align: center
  background: #333
  padding: 100px 0

  > h2
    color: #FFF

.services
  text-align: center
  background: #FFF
  padding: 100px 0

.contact
  text-align: center
  padding: 100px 0
  background: #F4F6F8


