.site-header
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: $header-height
  line-height: $header-height
  background: $blue-background
  z-index: 10

#logo
  float: left
  font-weight: 300
  font-size: 1.75em
  text-transform: uppercase
  color: #FFF

.header-nav
  float: right

  > a
    color: #FFF
    text-transform: uppercase
    padding: 8px 14px

    &:last-child
      padding-right: 0

+at-breakpoint($break-mobile)
  .header-nav
    display: none