.hero
  padding-top: 272px - 110
  height: $hero-height - 100
  background: $blue-background
  background-repeat: repeat-x
  overflow: hidden

#stars
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: $hero-height - 100

.blue-dot
  background-repeat: no-repeat
  height: $hero-height - 100
  position: absolute
  top: 100px
  width: 100%
  +opacity(0.6)

.hero-text
  font-size: 1.75em
  line-height: 1
  color: #FFF
  text-transform: uppercase

+at-breakpoint($break-tablet)
  .hero
    padding-top: 272px - 40
    height: $hero-height - 50

  #stars
    height: $hero-height - 50

+at-breakpoint($break-desktop)
  .hero
    padding-top: 272px
    height: $hero-height

  #stars
    height: $hero-height


@-webkit-keyframes stars
  0%
    background-position: 0% 50%
  50%
    background-position: 400000px 50%
  100%
    background-position: 0px 50%

@-webkit-keyframes earth
  0%
    background-position: 0% 0%
    top: 100px
  50%
    background-position: 30000px 50%
    top: -3000px
  100%
    background-position: 0 0%
