@import "compass"
@import "animation"
@import "exo/mixins"
@import "susy"

// Structure & Layout
// ----------------------------------------
$header-height: 120px
$mobile-header-height: $header-height - 25px
$hero-height: 780px
$mobile-hero-height: 400px
$hero-nav-height: 45px

// Colours
// ----------------------------------------
$text-color: #4c4c4c
$text-color-light: #878787
$link-color: #0089d0

$header-color: #4a4a4a

$timeline-color: #b6b7ba

// Typography
// ----------------------------------------
$font-family: 'Kite One', sans-serif
$font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif

$font-weight: 400
$font-weight-light: 300
$font-weight-semibold: 500
$font-weight-bold: 700
