//-----------------------------------------------------------------------------
// Mixins
//-----------------------------------------------------------------------------

@mixin placeholder
  &.placeholder, &.input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-webkit-input-placeholder
    @content

@mixin input
  display: block
  +user-select(text)
  +appearance(none)
  +box-sizing(border-box)
  +border-radius(3px)
  +box-shadow($input-inset-shadow, 0 1px 0 rgba(white, 0.5))
  height: $input-height
  margin: 0 0 14px 0
  padding: $input-padding
  color: $input-color
  font-size: 14px
  line-height: $input-height - 12px
  border: 0px solid $input-border-color
  width: 100%

  &:focus, &.focus
    outline: none
    border: none
    +box-shadow(none)

  +placeholder
    color: $blue-dot

//-----------------------------------------------------------------------------
// Inputs & Selects
//-----------------------------------------------------------------------------

input,
textarea,
select
  font: $primary-font-family
  font-size: 1em
  resize: none

input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="tel"],
textarea,
.input,
  +input

input[type="submit"]
  @extend .button

textarea
  height: 120px

.button
  +box-sizing(border-box)
  margin: 0
  padding: 6px 10px
  width: 100%
  font: $primary-font-family
  font-size: 14px
  font-weight: bold
  color: white
  text-align: center
  -webkit-font-smoothing: antialiased
  cursor: pointer
  border: 0
  +border-radius(3px)
  background-color: $blue-dot
  +box-shadow(0 0 0 #000)
