//-----------------------------------------------------------------------------
// Mixins
//-----------------------------------------------------------------------------

@mixin placeholder
  &.placeholder, &.input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-webkit-input-placeholder
    @content

@mixin input
  display: block
  +user-select(text)
  +appearance(none)
  +box-sizing(border-box)
  +box-shadow(none)
  height: $input-height
  margin: 0 0 14px 0
  padding: $input-padding
  color: $input-color
  font-size: 1.1em
  line-height: $input-height - 12px
  border: none
  border-bottom: 2px solid lighten($text-color, 50%)
  width: 100%

  &:focus, &.focus
    outline: none
    border-bottom: 2px solid $blue-background
    +box-shadow(none)

  +placeholder
    color: lighten($text-color, 50%)

//-----------------------------------------------------------------------------
// Inputs & Selects
//-----------------------------------------------------------------------------

input,
textarea,
select
  font: $primary-font-family
  font-size: 1em
  resize: none

input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="tel"],
textarea,
.input,
  +input

input[type="submit"]
  @extend .button

.button
  +box-sizing(border-box)
  margin: $content-spacing 0 0
  padding: 14px 10px
  width: 100%
  font: $primary-font-family
  font-size: 1.1em
  font-weight: bold
  color: white
  text-align: center
  -webkit-font-smoothing: antialiased
  cursor: pointer
  border: 0
  background-color: $blue-border
  +box-shadow(0 0 0 #000)
